name: Release to Production
on:
  pull_request:
    branches:
      - production
    types: [closed]
jobs:
  release:
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get Job ID from PR
        run: |
          cat > BODY <<'EOF'
          ${{ github.event.pull_request.body}}
          EOF
          JOB_ID=$(cat BODY | perl -ne 'print "$1\n" and exit if m/Production Job Id:\s(\w+)/;')
          echo "JOB_ID=${JOB_ID}" >> $GITHUB_ENV
      - name: Push to Production Server
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 100
          retry_wait_seconds: 5
          # If the job isn't created yet, will return {"message":"400 Bad request - Unplayable Job"}
          command: |
            RES=$(curl "https://gitlab.com/api/v4/projects/${{ vars.GITLAB_PROJECT_ID }}/jobs/${{ env.JOB_ID }}/play" \
              --request POST \
              --header 'PRIVATE-TOKEN: ${{ secrets.GITLAB_DEPLOYMENT_ACCESS_TOKEN }}')
            echo $RES
            JOB_ID_DONE=$(echo $RES | jq '.id // empty')
            [ -z "$JOB_ID_DONE" ] && exit 1 || exit 0
      - name: Poll Production Release
        timeout-minutes: 30
        run: |
          while true; do
            STATUS=$(curl -s "https://gitlab.com/api/v4/projects/${{ vars.GITLAB_PROJECT_ID }}/jobs/${{ env.JOB_ID }}" --header 'PRIVATE-TOKEN: ${{ secrets.GITLAB_DEPLOYMENT_ACCESS_TOKEN }}' | jq -r '.status')
            echo "Current status: $STATUS"
            if [ "$STATUS" == "success" ]; then
              echo "Job completed successfully."
              exit 0
            elif [[ "$STATUS" == "failed" || "$STATUS" == "canceled" ]]; then
              echo "Job failed or was canceled."
              exit 1
            fi
            sleep 15
          done

      - name: Report Status
        if: failure()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: "failure"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_GH_ACTIONS_NOTIFICATIONS }}
